@using Microsoft.AspNet.Identity;
@model Logic.ApplicationUser

@{
    ViewBag.Title = "Index";
}


<h1>

    <img src="@Url.Action("UserPhotos", "Home" )" style="width:160px;height:160px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
</h1>



<h2>Index</h2>

<script>
        function AddPost()
        {

        var Text = $('#Text').val();
        var From = '@User.Identity.GetUserId()';
        var To = '@Model.Id';
        var newPost = {SenderID: From, ReceiverID: To, Text: Text};
            $.ajax({
                type: 'POST',
                url: '/api/UserPosts/',
                data: JSON.stringify(newPost),
                contentType:'application/json',
                datatype: 'json',
                success: function (data) {
                    $('#Text').val('');
                    location.reload();
                }
            })
        };
</script>
<div class="container, left">
    <h3>Gör ett inlägg:</h3>

    <div class="form-group">
        <label for="comment"></label>
        <textarea class="form-control" rows="5" id="Text"></textarea>
        <button class="btn btn-default" onclick="AddPost()"> skicka</button>
    </div>
    </div>
